<form action="" *ngFor= "let question of QuestionList" id="question.id">
  Question: {{question.Question}}
  <input type="radio" name="question.Id" value="question.A"
   (click)="GetSelectedAnswer(question.A,question.Correct,question.Id,question.Question)"
   > {{question.A}}<br>
  <input type="radio" name="question.Id" value="question.B"
  (click)="GetSelectedAnswer(question.B,question.Correct,question.Id,question.Question)"
  >{{question.B}}<br>
  <input type="radio" name="question.Id" value="question.C"
  (click)="GetSelectedAnswer(question.C,question.Correct,question.Id,question.Question)"
  > {{question.C}}<br>
  <input type="radio" name = "question.Id" value="question.D"
  (click)="GetSelectedAnswer(question.D,question.Correct,question.Id,question.Question)"
  >{{question.D}}<br>
</form>
